<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include head.ejs %>
    <link rel="stylesheet" href="css/about.css">
    <title>About</title>
</head>

<body class="background">

    <%- include topnav.ejs %>

    <div class="centered-content">
        <h1>What is This Game?</h1>
        <h2>An interactive language game for children ages 7 - 12</h2>
        <p>
            Crash Landing On is a game that not only teaches children basic Vietnamese
            vocabulary, but also introduces real locations operated by people of the
            same culture. This is a full stack game with a registration, sign up page,
            and data base for user information. This includes data gathered during game play.
        </p>

        <img src="img/children.png" alt="kids-reading">
    </div>

    <div class="container">
        <h2>The Story</h2>
        <p class="inline">
            The user plays as an alien whose ship has crashed, in this scenario, Little Saigon,
            a line of Vietnamese-owned businesses along Dorchester Ave in Boston, MA.
            The alien has lost 6 parts of their ship, and must interact with the locals to
            find them. This comes with a price, you must purchase something from their business.
            ugh the alien's search, the user learns vocabulary of various common objects from food,
            to glasses, flowers, and more. Each purchase is brought back to the alien's ship mates
            and kept in their inventory. The ship parts are also counted along the journey.
        </p>

        <img class="inline" src="img/alien-group.png" alt="alien-group">
    </div>
</body>

</html>