<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include head.ejs %>
    <title>Comments</title>
</head>

<body class="background">
  <%- include topnav.ejs %>
    <section class="full-page centered-content">
      <h1>Leave a comment!</h1>
      <div class="flexed-container">
        <form class="comment-form" action="/api/comment" method="POST">
          <textarea class="js-comment-box"></textarea>
          <button class="button-link">Post!</button>
        </form>
        <div class="comments comment-scroll" id="js-comment-feed">
        </div>
    </section>
</body>
<script src="/js/comments.js"></script>

</html>