<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include head.ejs %>
        <title>Home</title>
</head>

<body class="background">

    <%- include topnav.ejs %>
        <section>
            <section class="page-flex stage">
                <div class="flexed-container">
                    <img class="banner-img" src="/img/banner-img.png" alt="Aliens on tour">
                </div>

                <div class="flexed-container centered-text">
                    <h1>Experience Language in a place full of culture, food, and fun</h1>
                    <p class="description">Crash Landing On is a full stack interactive language game that not only
                        teaches children basic
                        Vietnamese vocabulary, but also introduces real locations operated by people of the same
                        culture.
                    </p>
                    <br>
                    <a class="button-link" href="/map">Play!</a>
                    <a class="button-link" href="/how-to-play">How to Play</a>

                </div>
            </section>
            <div class="banner">
            </div>
        </section>

        <section class="more-games-container">
            <h1>More Crash Landings</h1>
            <br>
            <h2>Visit other states, countries and cultural locations for more language learning experiences.</h2>
            <br>
            <div>
                <a href=""><img src="/img/more/more1.png" alt="Aliens go to Japan"></a>
                <a href=""><img src="/img/more/more2.png" alt="Aliens go to Italy"></a>
                <a href=""><img src="/img/more/more3.png" alt="Aliens go to New York"></a>
            </div>
        </section>


        <footer class="footer-bg text-center text-white">
            <%- include footer.ejs %>
        </footer>
</body>

</html>