<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include head.ejs %>
    <title>Home</title>
</head>

<body class="background">

    <%- include topnav.ejs %>
    <section class="full-page">
        <img class="small-img" src="/img/alien-banner.png" alt="Aliens on tour">
        <a class="button-link" href="/map">Play!</a>
    </section>
</body>

</html>