<!doctype html>
<html>

<head>
    <title>Crash Landing On Little Saigon</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <a href="/">CRASH LANDING ON</a>
        <img src="little-saigon.png" alt="Little Saigon">
        <section class="starting-links">
            <a href="register">REGISTER</a>
            <a href="signin">SIGN IN</a>
        </section>

        <section>
            <img src="falling-alien.png" alt="Falling Alien">
        </section>
        
        <section class="footer">
            <h2>Language Focus: Vietnamese</h2>
            <p>© 2021 Julie Tran</p>
        </section>
    </footer>
</body>

</html>