<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include head.ejs %>
        <title>How to Play</title>
</head>

<body>

    <%- include topnav.ejs %>

        <section class="centered-content">
            <h1 class="how-to">How to Play</h1>
            <img src="img/aliens.png" alt="ship-parts-important">
            <p class="instructions">
                You and your crew were on course to collect diamonds on the moon when BAM! Your ship was
                struck by an asteroid and now you're all stuck on Earth. Now, in an unknown place with 6 essential
                pieces of the engine lost, it's up to you to find them!
            </p>
        </section>

        <section class="page-flex stage">
            <div class="flexed-container centered-text">
                <h1>Find the missing pieces of your ship from the town locals</h1>
                <p class="instructions">
                    Luckily for you, English is a language you speak! Perhaps the Earthlings can tell you if they've
                    seen your missing parts?
                </p>
            </div>

            <div class="flexed-container">
                <img src="img/talk-to-npc.png" alt="ship-parts-important">
            </div>
        </section>

        <section class="page-flex stage">
            <div class="flexed-container">
                <img src="img/purchase.png" alt="ship-parts-important">
            </div>

            <div class="flexed-container centered-text">
                <h1>Nothing is free!</h1>
                <p class="instructions">
                    Before you can ask about anything, it is Earthly custom to buy from a shopkeep first.
                    Thankfully, you happened to pick up plenty of Earth currency from all the cows you rescued.
                </p>
            </div>
        </section>

        <section class="page-flex stage">
            <div class="flexed-container centered-text">
                <h1>To visit a shop</h1>
                <p class="instructions">
                    Click a building for a riveting conversation to start.
                    You may learn a thing or two about one of Earth's many languages. On top of that, maybe some news
                    about your ship!
                </p>
            </div>

            <div class="flexed-container">
                <img src="img/map-diagram.png" alt="ship-parts-important">
            </div>
        </section>

        <section class="page-flex stage">
            <div class="flexed-container">
                <img src="img/alien-regroup.png" alt="ship-parts-important">
            </div>

            <div class="flexed-container centered-text">
                <h1 class="instructions">
                    Ultimately, the goal is to have fun, learn something new and gain something your crew may also
                    enjoy!
                </h1>
                <br>
                <a class="button-link" href="/map">Play!</a>
            </div>
        </section>
        <footer class="footer-bg text-center text-white">
            <%- include footer.ejs %>
        </footer>
</body>

</html>