<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include head.ejs %>
    <title>How to Play</title>
</head>

<body class="background">

    <%- include topnav.ejs %>

    <h1>How to Play</h1>
    <div class="container left">
        <h2>SYTEMS DOWN!</h2>
        <h3>Find the missing pieces of your ship from the town locals</h3>
        <p>
            You and your crew are on course for the planet Obiwan when your ship is struck
            by an asteroid. The ship plummets and lands on an unknown place, with 5 essential
            pieces of the engine scattered. Explore the town nearby and collect these for your
            mechanic. Talk with the locals and see if they can help. Ready?
        </p>

        <img src="img/ship-parts.png" alt="ship-parts-important">
        <button type="submit" class="btn-lg">Let's Play!</button>

    </div>
    </div>
</body>

</html>