<div class="topnav">
  <a class="active" href="home">Home</a>
  <a href="about">About the Game</a>
  <a href="how-to-play">How to Play</a>
  <a href="resources">Resources</a>
  <a href="more-games">More Games</a>
  <a href="user-profile"><i class="far fa-user-circle"></i></a>
</div>
