.background {
  background-image: url("../img/register-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.right-column {
  float: right;
  margin: 4em 10em;
}

.right-column {
  float: right;
  margin: 14em 2em;
  width: 50%;
}

form {
  width: 50%;
}