.background {
  background-image: url("../img/signin-bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.right-column {
  float: right;
  margin: 14em 2em;
  width: 50%;
}

form {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .background {
    background-image: url("../img/backgrounds/mobile-sign-in.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1800px) {
  .right-column {
    margin-bottom: 100px;
  }
}