
/* --------------------------------button styles ------------------------- */
.button-link {
  font-family: "Trebuchet MS", sans-serif;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #5fa25f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #344d34;
}

.button-link:hover {
  background-color: #67a767;
  color: white;
  text-decoration: none;
  border: none;
}

.button-link:active {
  background-color: #70b470;
  box-shadow: 0 5px #344d34;
  transform: translateY(4px);
  outline: none;
  border: none;
}

button:focus {
  outline: none;
}

.regular-links{
  color: #70b470;
  text-decoration: none; /* no underline */
}

.regular-links:hover{
 color:#10ac10
}


/* --------------------------h1 and h1 -------------------------------------- */

.h1,
h1 {
  font-size: 7.5rem;
  font-family: "Chewy", sans-serif;
  color: #f15b5b;
}

h2 {
  font-family: "Trebuchet MS", sans-serif;
  color: #5FA25F;
  font-weight: 800;
}

/* -----------------------------------------navigation ------------------------ */

.topnav {
  overflow: hidden;
  background-color: #f15b5b;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
  letter-spacing: 1px;
}

.topnav a:hover {
  background-color: #f57679;
  color: black;
  text-decoration: none;
}

.topnav a.active {
  background-color: #70b470;
  color: white;
}

.ship-parts{
  width: 60px;
  float: right;
  margin-right: 50px;
}

.gears-count{
  font-size: 30px;
  color: white;
  font-family: "Chewy";
  float:right;
}

/* -----------------------------------page styles--------------------------- */

.full-page {
  flex: 1;
  overflow: hidden;
}

.page-flex{
  display: flex;
}

.banner{
  background-image: url("/img/town-banner.png");
  background-repeat:no-repeat;
  /* align-self: flex-end; */
  overflow: hidden;
  height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.banner-img{
  margin-left: 5%;
  width: 100%;
}

.wrapper:hover .slide {
  transition: 1s;
  left: 0;
}

.full-sized-img {
  width: 100%;
}

.map-size{
  width: 50%;
}

.padding-80px{
  padding: 80px;
}
/* -------------------------------text layout and sizing--------------------- */

.neighborhood-description{
  margin-top: 50px;
}

.flexed-container{
  flex:1;
}

.more-games-container{
  margin-top: 10%;
  text-align: center;
}

.newsletter{
  position: absolute;
  margin-top: 7%;
}
.centered-text{
  margin: 10%;
  vertical-align: middle;
}

.centered-content{
  text-align: center;
  width: 60%;
  margin: 50px auto auto;
}

.description{
  font-size: 25px;
}

.instructions{
  font-size: 30px;
}
/* -------------------------------comment nav ------------------------------ */
.date{
  color:darkgray;
  font-family: "Chewy";
  letter-spacing: 1px;
}

.message{
  color: black;
  font-family: "Chewy";
  font-size: 25px;
}

.comment{
  vertical-align: middle;
}

.comment-scroll{
  overflow: scroll;
  height: 700px;
}

.delete-button{
  color:darkgray;
  float:right;
}
/* -------------------------------------map animations--------------------- */
.character-overlay {
  position: absolute;
  /* under the text */
  z-index: 2;
  bottom: 15vh;
  right: 0;
  height: 80vh;
}

.stage {
  position: relative;
}

.speech-overlay {
  position: absolute;
  /* this centers elements which are positionn absolute */
  left: 50%;
  transform: translate(-50%, 0);
  /* under the modal, but on top of the character */
  z-index: 3;
  bottom: 150px;
  background-color: whitesmoke;
  width: 98%;
  height: 20%;
  overflow: hidden;
  border-radius: 40px;
  padding: 2em;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  box-sizing: border-box;
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  animation: typing 5s steps(200, end);
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.fade-in{
  animation: fadeIn ease 1s;
}

.delayed {
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.transparent {
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item-icon {
  width: 180px;
}

.items-container {
  display: flex;
  justify-content: space-between;
}

#items-modal-dialog {
  max-width: 50%;
}

.item {
  border: 2px solid wheat;
  border-radius: 1em;
  text-align: center;
}

/* ----------------------------------user items -------------------------- */

.items{
  background-color: #fffade;
  width: 60%;
  height: 500px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto 50px auto;
 overflow: scroll;
}

.locations{
  background-color: #fffade;
  width: 60%;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto 50px auto;

}

.no-bullets{
  list-style-type: none;
}

.row{
  flex-direction: row;
}

.row li{
  padding: 30px 30px 30px;
}

.saved-item{
  font-weight: 700;
  color:  #5fa25f;
  text-align: center;
}

.translated-item{
  color:  #f15b5b;
}

audio:focus {
  outline: none;
}

/* ----------------------------------footer ---------------------------- */
.footer-bg{
  background-color:  #5fa25f;
}

footer a{
  color: white;
  text-decoration: none;
}

footer{
  margin-top: 100px;
  
}
